  .primary-btn {
  font-family: var(--secondary);
  font-weight: 400 !important;
  font-size: 15px !important;
  padding: 13px 35px;
  background: linear-gradient(89.58deg, #3186FF .28%, #346BF0 44.45%, #4EA0FF 99.55%);
  color: var(--white) !important;
  border-radius: 40px;
  text-transform: none !important;
  letter-spacing: 0 !important;
  position: relative;
  overflow: hidden;
  &::after {
    content: '';
    position: absolute;
    inset: 0;
    border-radius: 40px;
    background: linear-gradient(89.58deg, #4EA0FF .28%, #346BF0 55%, #3186FF 99.55%);
    opacity: 0;
    transition: opacity 0.4s ease;
  }
  span {
    position: relative;
    z-index: 1;
  }
  &:hover {
    transform: translateY(-1px);
    box-shadow: 0 6px 20px rgba(66, 133, 244, 0.35);

    &::after {
      opacity: 1;
    }
  }
}