---
import Cursor from '../components/Cursor.astro';
const { title = 'AI Developer Day: Build with AI 2026' } = Astro.props;
---

<!DOCTYPE html>
<html lang="es">
<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
  <title>{title}</title>
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link href="https://fonts.googleapis.com/css2?family=Nunito:wght@300;400;600;700;800;900&family=DM+Mono:wght@300;400;500&display=swap" rel="stylesheet">
</head>
<body>
   <Cursor />
  <slot />
</body>
</html>

<style is:global lang="scss">
  @use '../styles/global.scss';
</style>